.whatsapp-img-wrapper {
    position: fixed;
    bottom: 100px;
    left: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #0000004d;
    animation: breathe 2s ease-in-out infinite;
    cursor: pointer;
  }

  .whatsapp-img-wrapper .inner-div  img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }

  .contact-phone-img-wrapper {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2788dd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 30%);
    animation: breathetwo 2s ease-in-out infinite;
    cursor: pointer;
  }

  .contact-phone-img-wrapper .inner-div  img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }

  @keyframes breathe {
    0% {
      box-shadow: 0 0 0 0 rgb(37, 211, 102, 50%);
    }

    70% {
      box-shadow: 0 0 0 15px rgb(37, 211, 102, 0%);
    }

    100% {
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 0%);
    }

  }
  
  @keyframes breathetwo {
    0% {
      box-shadow: 0 0 0 0 rgb(32, 109, 122, 50%);
    }

    70% {
      box-shadow: 0 0 0 15px rgb(37, 211, 102, 0%);
    }

    100% {
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 0%);
    }

  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }

  }
