.lead-generation-form-wrapper {
    max-width: unset !important;
    width: 100%;
}

.lead-generation-form.block {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    /* padding-right: 2rem; */
    background: #F0F6E4;
    max-width: 100%;
    width: 100%;
    box-shadow: 0px -4px 20px 0px #5B5B5B66;
    border-top: 2px solid #8CB133;
    display: none;
}
.lead-generation-form.block.showLeadBlock{
    display: flex;
    position: fixed;
    bottom: 0%;
    z-index: 9999;
}
.lead-generation-form.block.hideLead{
  display: none;
}

.lead-generation-form__close_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 50%;
    color: #B8B8B8;
    cursor: pointer;
}

.lead-generation-form__container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-inline: 10vw 20vw;
}

.lead-generation-form__container .lead-generation-form__heading_container h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #3B3B3B;
    margin: 0;
}

.lead-generation-form__content_contianer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lead-generation-form__form1_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.lead-generation-form__form1_container .lead-generation-form__inputs {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lead-generation-form__form1_container .lead-generation-form__inputs input {
    padding: 13px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #B8B8B8;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #3B3B3B;
    outline: none;
    height: 40px;

}

.lead-generation-form__form1_container .lead-generation-form__checkBox_container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.lead-generation-form__form1_container .lead-generation-form__checkBox_container p {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #3B3B3B;


}

.lead-generation-form__checkBox_container .lead-generation-form__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid grey;
    background-color: #FFFFFF;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
}

.lead-generation-form__checkBox_container .lead-generation-form__checkbox:checked {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3CB8FF;
    border: 1px solid #3CB8FF;

}

.lead-generation-form__checkBox_container .lead-generation-form__checkbox:checked::after {
    content: "✔";
    color: white;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.lead-generation-form__form1_container .lead-generation-form__otp_button {
    gap: 10px;
    border-radius: 2px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    background: #3CB8FF;
    color: #FFFFFF;
}

.lead-generation-form__form1_container .lead-generation-form__otp_button:disabled {
    background-color: #E8E8E8;
    color: #6D6D6D;
    cursor: not-allowed;
    border-radius: 2px;
}

/* step two */
.lead-generation-form__form2_container{
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lead-generation-form__form2_container .lead-generation-form__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lead-generation-form__form2_container .lead-generation-form__checkBox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lead-generation-form__form2_container .lead-generation-form__inputs input {
    padding: 13px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #B8B8B8;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #3B3B3B;
    outline: none;
    height: 40px;
}

.lead-generation-form__inputs .lead-generation-form__readonly_number_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #B8B8B8;
    background: #FFFFFF;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.lead-generation-form__inputs .lead-generation-form__readonly_number_container input {
    outline: none;
    border: none;
    height: 30px;
}

.lead-generation-form__inputs .lead-generation-form__readonly_number_container .lead-generation-form__edit_number {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin: unset;
    color: #3CB8FF;
    
}

.lead-generation-form__form2_container .lead-generation-form__checkBox_container p {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #3B3B3B;


}

.lead-generation-form__form2_container .lead-generation-form__checkBox_container .lead-generation-form__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid grey;
    background-color: #FFFFFF;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
}

.lead-generation-form__form2_container .lead-generation-form__checkBox_container .lead-generation-form__checkbox:checked {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3CB8FF;
    border: 1px solid #3CB8FF;

}

.lead-generation-form__form2_container .lead-generation-form__checkBox_container .lead-generation-form__checkbox:checked::after {
    content: "✔";
    color: white;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.lead-generation-form__form2_container .lead-generation-form__submit_button {
    gap: 10px;
    border-radius: 2px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    background: #3CB8FF;
    color: #FFFFFF;
}

.lead-generation-form__form2_container .lead-generation-form__submit_button:disabled {
    background-color: #E8E8E8;
    color: #6D6D6D;
    cursor: not-allowed;
    border-radius: 2px;
}