.scroll-up {
    width: 30px;
    height: 30px;
    right: 2%;
    bottom: 2%;
    position: fixed;
    cursor: pointer;
    display: none;
    background: transparent;
    border-radius: 4px;
    background-image: url('/icons/up.svg');
}