.scroll-up {
    width: 50px;
    height: 40px;
    right: 2%;
    bottom: 2%;
    position: fixed;
    cursor: pointer;
    display: none;
    background: transparent;
    border-radius: 4px;
    background-image: url('/icons/upgif.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
}