.progress-bar-container .progress-bar-wrapper{
    max-width: 100%;
}

.progress-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10px;
    z-index: 99999;
    background-color: var(--main-bg-color);
}

.progress-bar::before {
    position: absolute;
    background-color: var(--heading-color);
    content: '';
    inset: 0;
    animation: progress linear forwards;
    animation-timeline: scroll();
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}